<template>
  <div>
    <Poster v-if="data.show === 1" :data="data"></Poster>
    <Themeable v-else :data="data"></Themeable>
  </div>
</template>

<script>
import Poster from "./Poster";
import Themeable from "./Timetable";
export default {
  name: "Application",
  props: {
    data: {
      type: Object
    }
  },
  data() {
    return {};
  },
  components: {
    Poster,
    Themeable
  }
};
</script>