<template>
  <v-container>
    <v-row no-gutters class="ml-3" align="center">
      <v-col cols="3" lg="3" md="3" sm="3">
        <v-row no-gutters align="end">
          <v-col
            cols="9"
            lg="9"
            md="9"
            sm="9"
            :class="{
              'border-day py-2':
                $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
            }"
          >
            <v-row no-gutters>
              <v-col
                cols="12"
                lg="4"
                md="4"
                sm="12"
                class="d-flex justify-center align-center"
              >
                <p
                  :class="[
                    'display-1 font-weight-medium black--text ma-0 display-1 font-weight-medium black--text',
                    {
                      'display-1':
                        $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                    }
                  ]"
                >
                  {{ day }}
                </p>
              </v-col>
              <v-col cols="12" lg="6" md="6" sm="12">
                <v-row no-gutters>
                  <v-col
                    cols="12"
                    lg="12"
                    md="12"
                    sm="12"
                    class="pa-0 text-center"
                  >
                    <p
                      class="subtitle-2 font-weight-medium grey--text ma-0  subtitle-2 font-weight-medium grey--text"
                    >
                      {{ week }}
                    </p>
                  </v-col>
                  <v-col
                    cols="12"
                    lg="12"
                    md="12"
                    sm="12"
                    class="pa-0 text-center"
                  >
                    <p
                      :class="[
                        'subtitle-1 font-weight-medium black--text ma-0 pa-0 subtitle-1 font-weight-medium black--text',
                        {
                          title:
                            $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                        }
                      ]"
                    >
                      {{ month }}
                    </p>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-row no-gutters>
          <v-col cols="12" lg="9" md="8" sm="12">
            <v-row
              :class="[
                'no-gutters',
                {
                  'flex-column-reverse':
                    $vuetify.breakpoint.xs || $vuetify.breakpoint.sm
                }
              ]"
              align="center"
            >
              <v-col class="pa-0" cols="12" lg="2" md="2" sm="12">
                <p
                  class="ma-0 subtitle-1 font-weight-medium black--text"
                  :class="{
                    'subtitle-1':
                      $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                  }"
                >
                  {{ hours }} : {{ minute }}
                </p>
              </v-col>
              <v-col class="pa-0" cols="12" lg="8" md="8" sm="12">
                <p
                  :class="{
                    title: $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
                  }"
                  class="ma-0 headline font-weight-medium black--text"
                >
                  {{ data.name }}
                </p>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            cols="6"
            md="2"
            lg="2"
            sm="6"
            class="pa-0"
            :class="{
              'mt-2': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
            }"
          >
            <v-btn block color="#144CF7" dark large>
              {{ data.buttonName }}</v-btn
            >
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Poster",
  data() {
    return {
      day: "",
      hours: "",
      minute: "",
      month: "",
      week: "",
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ]
    };
  },
  props: {
    data: {
      type: Object
    }
  },
  mounted() {
    this.data.name = "Sted.D x Pyrokinesis";
    this.month = this.months[this.data.data.getMonth()];
    this.week = this.days[this.data.data.getDay()];
    this.day = this.data.data.getDate();
    this.hours = this.data.data.getHours();
    this.minute = this.data.data.getMinutes();
  }
};
</script>

<style scoped>
.border-day {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 10px;
}
</style>
