<template>
  <v-container>
    <v-row no-gutters class="" align="center">
      <v-col class="pa-0" cols="12" lg="5" md="5" sm="12">
        <v-row no-gutters align="center">
          <v-col class="pa-0 d-flex align-center">
            <p
              class="ma-0 mr-2 headline font-weight-black nowrap"
              :class="{
                'subtitle-1': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
              }"
            >
              {{ day }}
            </p>
            <p
              class="ma-0 mr-2 headline font-weight-black nowrap"
              :class="{
                title: $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
              }"
            >
              {{ month }}
            </p>
            <p class="ma-0 title font-weight-medium grey--text">{{ week }}</p>
          </v-col>
          <v-col
            :class="[
              'pa-0 d-flex',
              {
                'justify-end': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs,
                'justify-center':
                  $vuetify.breakpoint.md || $vuetify.breakpoint.lg || $vuetify.breakpoint.xl
              }
            ]"
          >
            <p
              class="ma-0 subtitle-1 font-weight-black "
              :class="{
                'subtitle-2': $vuetify.breakpoint.sm || $vuetify.breakpoint.xs
              }"
            >
              {{ hours }} : {{ minute }}
            </p>
          </v-col>
        </v-row>
      </v-col>
      <v-col class="pa-0 " cols="12" lg="5" md="4" sm="12">
        <p
          class="ma-0 subtitle-1 font-weight-medium grey--text"
          :class="{
            'subtitle-2': $vuetify.breakpoint.xs || $vuetify.breakpoint.sm,
          }"
        >
          {{ data.name }}
        </p>
      </v-col>
      <v-col
        cols="12"
        lg="1"
        md="1"
        sm="12"
        class="pa-0"
        :class="{
          'mt-3': $vuetify.breakpoint.xs || $vuetify.breakpoint.sm
        }"
      >
        <v-btn block color="#144CF7" dark>{{ data.buttonName }}</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Timetable",
  props: {
    data: {
      type: Object
    }
  },
  data() {
    return {
      day: "",
      hours: "",
      minute: "",
      week: "",
      month: "",
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ]
    };
  },
  mounted() {
    this.data.name = "Главclub Green Concert";
    this.month = this.months[this.data.data.getMonth()];
    this.week = this.days[this.data.data.getDay()];
    this.day = this.data.data.getDate();
    this.hours = this.data.data.getHours();
    this.minute = this.data.data.getMinutes();
  }
};
</script>

<style scoped>
.nowrap {
  white-space: nowrap;
}
</style>
