<template>
  <v-app>
    <v-content>
      <Application :data="data"/>
    </v-content>
  </v-app>
</template>

<script>
import Application from "./components/Application";

export default {
  name: "App",

  components: {
    Application

  },
  data: () => ({
    data: {
      show: 1,
      data: new Date(),
      name: "",
      buttonName: "Оставить заявку",
      buttonPrice: "от 1500 ₽"
    }
  })
};
</script>
